### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [30]:

# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "02 - Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [31]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44


## Player Count

In [32]:
#Total Number of Players
player_dems = purchase_data.loc[:,["Gender","SN","Age"]]
player_dems = player_dems.drop_duplicates()
PlayerCount = len(purchase_data["SN"].unique())
playercount_disp = pd.DataFrame({"Player Count": [PlayerCount]})
playercount_disp

   Player Count
0           576

## Purchasing Analysis (Total)

In [33]:
# Number of unique items
Items = len(purchase_data["Item ID"].unique())
Items
# Average price
avg_price = purchase_data["Price"].mean()
avg_price
# Total number of Purchases
total_purchases = purchase_data["Price"].count()
total_purchases
# Total Revenue
total_rev = purchase_data["Price"].sum()
total_rev
# Resource: kcoyne6
#Purchasing Analysis summary dataframe
summary_df = pd.DataFrame({"Number of Unique Items": [Items],
                           "Average Purchase Price": (avg_price),
                          "Total Number of Purchases": [total_purchases],
                          "Total Revenue": [total_rev]})
#Add formatting to Average Purchase Price and Total Revenue
pd.options.display.float_format = '${:,.2f}'.format                          
summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,"$2,379.77"

# Gender Demographics

In [34]:
gender_group_df = purchase_data.groupby(["Gender"])["SN"].nunique()
print(gender_group_df)
gender_pct = (gender_group_df/576)*100
gender_pct = gender_pct.round(2).map("{0:.2f}%".format)
gender_pct

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

Gender
Female                   14.06%
Male                     84.03%
Other / Non-Disclosed     1.91%
Name: SN, dtype: object

In [35]:
## Purchasing Analysis (Gender)
gender_purch_df = purchase_data.groupby(["Gender"])
purchCount = gender_purch_df["Item Name"].count()
avgPrice = gender_purch_df["Price"].mean()
purchValue = gender_purch_df["Price"].sum()
print(purchCount)
print(avgPrice)
print(purchValue)
# Avg. purchase total per Person by gender*****

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64
Gender
Female                  $3.20
Male                    $3.02
Other / Non-Disclosed   $3.35
Name: Price, dtype: float64
Gender
Female                    $361.94
Male                    $1,967.64
Other / Non-Disclosed      $50.19
Name: Price, dtype: float64

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [36]:
# # Age demographics
# # Establish bins for ages
# bins = [0,10,15,20,25,30,35,40,200]
# binLab = ['Under 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40']

# # Add bins to new dataframe and groupby
# bin_df = purchase_data.copy()
# bin_df["Age Groups"] = pd.cut(bin_df["Age"], bins, labels=binLab)
# group_bin = bin_df.groupby(["Age Groups"])

# # Data manipulation
# binnerCount = group_bin["SN"].count()
# countTotal = purchase_data["SN"].count()
# percentage = (binnerCount / countTotal) * 100
# percentage

# # Create new DataFrame
# Age_Perc = pd.DataFrame({"Total Count": binnerCount,
#                          "Percentage of Players": percentage})

# # Add formatting to Percentage of Players
# Age_Perc["Percentage of Players"] = Age_Perc["Percentage of Players"].map("{:.2f}%".format)
# Age_Perc

In [37]:
# Age demographics
# Establish bins for ages
bins = [0,9.90,14.90,19.9,24.9,29.9,34.9,39.9,200]
binLab = ['Under 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40']

# Add bins to new dataframe and groupby
bin_df = player_dems.copy()
bin_df["Age Groups"] = pd.cut(bin_df["Age"], bins, labels=binLab)
# group_bin = bin_df.groupby(["Age Groups"])

# #bin data for Purchase Cnt, Avg. Purchase Price, Total Purchase Value
# binnerCount = group_bin["Price"].count()
# countTotal = purchase_data["Price"].mean()
# purch_value = bin_df["Price"].sum()

# binnerCount
# countTotal
# purch_value
agebreaks = bin_df["Age Groups"].value_counts()
agebreaks = agebreaks.sort_index()
agebreaks

# Need help with syntax for avg purchase price and total purchase value.

Under 10     17
10 - 14      22
15 - 19     107
20 - 24     258
25 - 29      77
30 - 34      52
35 - 39      31
Over 40      12
Name: Age Groups, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
#Binning by purchase data 
bin_purch_df = purchase_data.copy()
bin_purch_df["Age Groups"] = pd.cut(bin_df["Age"], bins, labels=binLab)

#bin data for Purchase Cnt, Avg. Purchase Price, Total Purchase Value
bin_purch_df = bin_purch_df.groupby(["Age Groups"])
purchCount = bin_purch_df.count()["Price"]
avgPrice = bin_purch_df.mean()["Price"]
purchValue = bin_purch_df.sum()["Price"]
print(purchCount)
print(avgPrice)
print(purchValue)

Age Groups
Under 10     17
10 - 14      22
15 - 19     107
20 - 24     258
25 - 29      77
30 - 34      52
35 - 39      31
Over 40      12
Name: Price, dtype: int64
Age Groups
Under 10   $3.39
10 - 14    $3.07
15 - 19    $3.10
20 - 24    $3.06
25 - 29    $2.91
30 - 34    $2.92
35 - 39    $3.51
Over 40    $3.04
Name: Price, dtype: float64
Age Groups
Under 10    $57.63
10 - 14     $67.64
15 - 19    $331.88
20 - 24    $790.39
25 - 29    $223.93
30 - 34    $151.92
35 - 39    $108.81
Over 40     $36.45
Name: Price, dtype: float64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [23]:
#Top Spenders
print(purchase_data["SN"].value_counts().nlargest(5))

Lisosia93      5
Iral74         4
Idastidru52    4
Chamimla85     3
Chamjask73     3
Name: SN, dtype: int64

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [40]:
#Most Popular Items
print(purchase_data["Item Name"].value_counts().nlargest(5))
# SN_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
# SN_avg = purchase_data.groupby(["SN"]).mean()["Price"]. rename("Avg. Purchase Price")
#SN_

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Fiery Glass Crusader                             9
Extraction, Quickblade Of Trembling Hands        9
Name: Item Name, dtype: int64

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [39]:
# Most Profitable Items
profitable_df = purchase_data.sort_values("Price", ascending=False)    
profitable_df.head(15)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
554,554,Dyally87,22,Male,63,Stormfury Mace,$4.99
189,189,Hiasri33,23,Male,63,Stormfury Mace,$4.99
110,110,Ririp86,25,Male,139,"Mercy, Katana of Dismay",$4.94
246,246,Lirtilsa71,24,Male,139,"Mercy, Katana of Dismay",$4.94
493,493,Chanirrasta87,14,Male,139,"Mercy, Katana of Dismay",$4.94
116,116,Lassilsala30,21,Male,139,"Mercy, Katana of Dismay",$4.94
231,231,Yarithsurgue62,26,Male,139,"Mercy, Katana of Dismay",$4.94
477,477,Mindossa76,41,Male,173,Stormfury Longsword,$4.93
686,686,Chadjask77,8,Male,147,"Hellreaver, Heirloom of Inception",$4.93
290,290,Idastidru52,24,Male,147,"Hellreaver, Heirloom of Inception",$4.93
275,275,Smaistysu35,30,Male,173,Stormfury Longsword,$4.93
312,312,Strithenu87,20,Male,147,"Hellreaver, Heirloom of Inception",$4.93
577,577,Filurarn35,19,Male,128,"Blazeguard, Reach of Eternity",$4.91
593,593,Lassimla92,25,Male,128,"Blazeguard, Reach of Eternity",$4.91
388,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",$4.91